@model Tp_grades.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>
        <dt>
          Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student_Last_Name)
        </dd>
        <dt>
           Grade #1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade_1)
        </dd>
        <dt>
           Grade #2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade_2)
        </dd>
        <dt>
           Grade #3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade_3)
        </dd>
        <dt>
           Average
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade_average)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
