@model IEnumerable<Tp_grades.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Classroom</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Grade #1
            </th>
            <th>
                Grade #2
            </th>
            <th>
                Grade #3
            </th>
            <th>
                Average
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade_3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade_average)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table> 

    <p>
       Average Classroom Grade:  @ViewBag.Average
    </p>
